.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navigation p {
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;   
}

.navigation p:hover {
    color:crimson;
}